{% extends "base.html" %}
<!-- Page Title -->
{% block title %}CDU | Add Topic{% endblock %}

<!-- Page Content -->
{% block content %}

<div class="container-fluid home-container text-center">
  <h1 class="text-uppercase">
    {{ page_title }}
  </h1>
  <p class="misuse-disclaimer">Please note, misuse of this function may result in your account being suspended or deleted</p>
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-8 col-lg-4">
      <form method="post">
        {{ form.hidden_tag() }}
        {{ form.topic_name.label }}
        {{ form.topic_name() }}
        {{ form.submit() }}
    </form>
    </div>
  </div>
  
</div>
{% endblock %}