{% extends "base.html" %}
<!-- Page Title -->
{% block title %}CDU | Home{% endblock %}

<!-- Page Content -->
{% block content %}

<div class="container home-container">
  <div class="row">
    <div class="col-12 col-md-7  home-blocks question-container">
      <h2>Latest Questions</h2>
      {% for question in questions %}
        <div class="question-block">
          <div class="question-title">
            {{ question.question_title }}
          </div>
          <div class="question-body">
            {{ question.question_body }}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-12 col-md-4 offset-md-1 home-blocks user-info">
      <h3>User</h3>
    </div>
  </div>
</div>
{% endblock %}