{% extends "base.html" %}
<!-- Page Title -->
{% block title %}CDU | Home{% endblock %}

<!-- Page Content -->
{% block content %}

<div class="container home-container">
  <div class="row">
    <!-- MOBILE USER PROFILE - Bootstrap Collapse used https://getbootstrap.com/docs/4.0/components/collapse/ -->
    {% if current_user.is_authenticated %}
    <div class="col-11 d-block d-lg-none home-blocks user-block">
      <div class="user-container">
        <h4>Hi, {{ current_user.fname }}</h4>
        <p>Take a look at your current profile info</p>
        <a class="user-collapse-link" data-toggle="collapse" href="#userCollapse" role="button" aria-expanded="false" aria-controls="userCollapse">
          View More
        </a>
        <div class="collapse" id="userCollapse">
          <div class="user-info">
            <p>Username: {{ current_user.username }}</p>
            <p>Questions: {{ user_question_count }}</p>
            <p>Member Since: {{ current_user.created_at.strftime('%B %d, %Y') }}</p>
            <p><a class="btn btn-primary acc-btn" href="{{url_for('my_questions')}}">My Questions</a></p>
          </div>
        </div>
        <!-- 
         -->
      </div>
    </div>
    {% endif %}
    <!-- /Mobile user profile  -->
    <div
      class="col-11 {{'col-lg-8' if current_user.is_authenticated else 'col-lg-11' }} home-blocks question-container">
      <div class="home-titles">
        <h2>Urgent Questions</h2>
      <p>Can you help? To view all recent questions, <a href="#recent">click here</a></p>
      {% if not current_user.is_authenticated %}
      <p><a href="{{url_for('login')}}">Log In</a> or <a href="{{url_for('sign_up')}}">Sign Up</a> to help answer
        questions and get involved in the conversation!</p>
      {% endif %}
      </div>
      <div class="row question-container">
        {% for question in urgent_questions %}
        <div class="questions col-12 {{'col-md-12 col-lg-6' if current_user.is_authenticated else 'col-md-6 col-lg-3'}}">
          <div class="question-block">
            <div class="question-title">
              <h5>{{ question.question_title }} </h5>
              {% if question.is_urgent %} <span class="is-urgent">URGENT!</span> {% endif %}
            </div>
            <div class="question-body">
              <p>{{ question.question_body }}</p>
            </div>
            <br>
            <div class="question-topic-title">
              <p><strong>Topic Tags</strong></p>
            </div>
            <div class="container-fluid topic-tag-container">
              <div class="row justify-content-left question-tags">
                
                {% for topic in question.topics %}
                <div><span class="topic-badge text-center">{{ topic.topic_name }}</span></div>
                
                {% endfor %}
              </div>
            </div>
            <div class="question-author">
              <p>
                Author: <span class=font-weight-bold>{{ question.author.username }}</span>
              </p>
            </div>

            <!-- Jinja templating will be used to display a series of buttons depending on user login status and author status -->

            {% if current_user.is_authenticated %}
            <div id="replyForm" class="d-none replyForm" data-question-id="{{ question.id }}">
              <form action="{{ url_for('submit_reply', question_id=question.id) }}" method="POST">
                <div class="form-group">
                  <label for="replyBody">Your Reply:</label>
                  <textarea class="form-control" id="replyBody" name="reply_body" rows="4" required></textarea>
                </div>
                <button class="btn btn-secondary" onclick="hideReplyForm('{{ question.id }}')">Cancel</button>
                <button type="submit" class="btn btn-primary acc-btn">Submit Reply</button>
        
              </form>
            </div>

            <div class="card-action">
              <a class="btn btn-primary" onclick="showReplyForm('{{ question.id }}')">Reply</a>
              {% if current_user.id == question.author_id %}
              <a href="{{url_for('edit_question', question_id=question.id)}}"
                class="btn btn-secondary btn-edit">Edit</a>
              <!-- DELETE QUESTION SNIPPET -->
              {% include 'delete_question_snippet.html' %}
              {% endif %}
              {% include 'reply_box_snippet.html' %}
            </div>
            {% endif %}
          </div>
        </div>
        {% endfor %}

      </div>

    </div>
    <!-- DESKTOP USER PROFILE -->
    {% if current_user.is_authenticated %}
    <div class="col-12 d-none d-lg-block col-md-3 offset-md-1 home-blocks user-block">
      <div class="user-container">
        <h4>Hi, {{ current_user.fname }}</h4>
        <p>Take a look at your current profile info</p>
        <div class="user-info">
          <p>Username: {{ current_user.username }}</p>
          <p>Questions: {{ user_question_count }}</p>
          <p>Member Since: {{ current_user.created_at.strftime('%B %d, %Y') }}</p>
          <p><a class="btn btn-primary" href="{{url_for('my_questions')}}">My Questions</a></p>
        </div>
      </div>
    </div>
    {% endif %}
    <!-- /Desktop user profile  -->

    <div class="col-11 col-lg-12 home-blocks all-question-container">
      <h2 id="recent" class="home-titles">All Recent Questions</h2>
      {% if not current_user.is_authenticated %}
      <p>Can you help? <a href="{{url_for('login')}}">Log In</a> or <a href="{{url_for('sign_up')}}">Sign Up</a> to help
        answer questions and get involved in the conversation!</p>
      {% endif %}
      <div class="row question-container">
        {% for question in questions %}
        {% include 'question_snippet.html' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}