{% extends "base.html" %}
<!-- Page Title -->
{% block title %}CDU | My Questions{% endblock %}

<!-- Page Content -->
{% block content %}

<div class="container-fluid search-container">
    <h2>View Your Questions</h2>
    {% if not current_user.is_authenticated %}
    <p>Sorry, you haven't asked any questions yet. Make sure you are <a href="{{url_for('login')}}">Logged In</a> or <a
            href="{{url_for('sign_up')}}">Sign Up</a> to ask your questions!</p>
    {% endif %}
    {% if questions %}
    <div class="row search-results">
        {% for question in questions %}
        {% if current_user.id == question.author_id %}
        {% include 'question_snippet.html' %}
        {% endif %}
        {% endfor %}

    </div>

</div>

{% endif %}
{% endblock %}