
    <div class="col12 col-md-4">
      <div class="question-block">
        <div class="question-title">
          <h5>{{ question.question_title }}</h5>
          {% if question.is_urgent %} <span class="is-urgent">URGENT!</span> {% endif %}
        </div>
        <div class="question-body">
          <p>{{ question.question_body }}</p>
        </div>
        <br>
        <div class="question-topic-title">
          <p><strong>Topic Tags</strong></p>
        </div>
        <div class="container-fluid">
          <div class="row justify-content-left question-tags">
            {% set num_topics = question.topics|length %}
            {% set col_class = 'col-4' if num_topics < 3 else 'col-3' %}
            {% for topic in question.topics %}
            <span class="{{ col_class }} topic-badge text-center">{{ topic.topic_name }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="question-author">
          <p>Author: <span class=font-weight-bold>{{ question.author.username }}</span> </p>
        </div>
        <!-- Jinja templating will be used to display a series of buttons depending on user login status and author status -->
        {% if current_user.is_authenticated %}
        <div id="replyForm" class="d-none replyForm" data-question-id="{{ question.id }}">
          <form action="{{ url_for('home') }}" method="POST">
            <div class="form-group">
              <label for="replyBody">Your Reply:</label>
              <textarea class="form-control" id="replyBody" name="reply_body" rows="4" required></textarea>
            </div>
            <button class="btn btn-secondary" onclick="hideReplyForm('{{ question.id }}')">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit Reply</button>

          </form>
        </div>
        <a class="btn btn-primary" onclick="showReplyForm('{{ question.id }}')">Reply</a>
        {% if current_user.id == question.author_id %}
        <a href="{{url_for('edit_question', question_id=question.id)}}" class="btn btn-secondary btn-edit">Edit</a>
        <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#modal-{{ question.id }}">Delete</button>

              <!-- DELETE QUESTION MODAL -->

              <div class="modal fade" id="modal-{{ question.id }}" tabindex="-1" role="dialog"
                aria-labelledby="modal-{{ question.id }}Label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-{{ question.id }}Label">Delete Question?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Are you sure you want to permanently delete this question? All replies will be removed and you
                      will no longer be able to view this conversation thread.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <a class="btn btn-danger" href="{{url_for('delete_question', question_id=question.id) }}">
                        Confirm Delete
                      </a>
                    </div>
                  </div>
                </div>
              </div>
        {% endif %}
        {% endif %}

      </div>
    </div>