{% extends "base.html" %}
<!-- Page Title -->
{% block title %}CDU | Home{% endblock %}

<!-- Page Content -->
{% block content %}

<div class="container home-container">

  <form method="POST" class="account-form submit-question-form">
    <h3 class="text-center account-title mb-3">Edit Your Question</h3>
    <div class="form-group">
      <label for="question_title">Question Title</label>
      <input type="text" class="form-control" id="question_title" name="question_title"
        placeholder="Give your question a title" value="{{ question.question_title }}" required>
    </div>
    <div class="form-group">
      <label for="question_body">Question</label>
      <textarea class="form-control" id="question_body" name="question_body"
        placeholder="Give full details of your question" required>{{ question.question_body }}</textarea>
    </div>
    <div class="form-group">
      <label for="question_topics">Select topic</label>
      <!-- Allow users to select up to 3 topics/tags and add their own if none relevant -->
      <select class="custom-select" id="question_topics" name="question_topics[]" multiple>
        <option value="" disabled>Select Topics (up to 3)</option>
        {% for topic in topics %}
        <option value="{{ topic.id }}" {% if topic in question.topics %}selected{% endif %}>{{ topic.topic_name }}</option>
        {% endfor %}
        <!-- It's assumed that adding new topics on edit isn't needed, remove if not the case -->
      </select>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="is_urgent" name="is_urgent" {% if question.is_urgent %}checked{% endif %}>
      <label class="form-check-label" for="is_urgent">Is your question urgent?</label>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="question_confirm" name="question_confirm" required>
      <label class="form-check-label" for="question_confirm">By editing your question you confirm that it abides by
        the site rules</label>
    </div>
    <button type="submit" class="btn btn-primary acc-btn">Update</button>
  </form>
</div>
{% endblock %}