{% extends "base.html" %}
<!-- Page Title -->
{% block title %}CDU | Home{% endblock %}

<!-- Page Content -->
{% block content %}

<div class="container home-container">

  <form method="POST" class="account-form submit-question-form">
    <h3 class="text-center account-title mb-3">Ask Your Question</h3>
    <div class="form-group">
      <label for="question_title">Question Title</label>
      <input type="text" class="form-control" id="question_title" name="question_title"
        placeholder="Give your question a title" required>
    </div>
    <div class="form-group">
      <label for="question_body">Question</label>
      <textarea class="form-control" id="question_body" name="question_body"
        placeholder="Give full details of your question" required></textarea>
    </div>
    
    <div class="form-group">
      <label for="question_topics">Select topics (Max. 3)</label>
      <!-- Allow users to select up to 3 topics/tags and add their own if none relevant -->
      <select class="custom-select" id="question_topics" name="question_topics[]" multiple>
        <option value="" disabled>Select up to 3 topics</option>
        {% for topic in topics %}
        <option value="{{ topic.id }}">{{ topic.topic_name }}</option>
        {% endfor %}
      </select>
      
    </div>
    <div class="add-topic-link">
      <p>If you cannot see a relevant topic, <a href="{{url_for('add_topic')}}">click here</a> to add your topics first</p>
    </div>
   
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="is_urgent" name="is_urgent">
      <label class="form-check-label" for="is_urgent">Is your question urgent?</label>
      <small id="urgentHelp" class="form-text text-muted small-text">Please note, misuse may result in removal of your
        question or suspension of your account</small>
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="question_confirm" name="question_confirm">
      <label class="form-check-label" for="question_confirm">By submitting your question you confirm that it abides by
        the site rules</label>
    </div>
    <button type="submit" class="btn btn-primary acc-btn">Submit</button>
  </form>
</div>
{% endblock %}