{% extends "base.html" %}
<!-- Page Title -->
{% block title %}CDU | Home{% endblock %}

<!-- Page Content -->
{% block content %}

<div class="container home-container">
    <form action="{{ url_for('toggle_admin_status') }}" method="POST" class="account-form submit-question-form">
      <h3 class="text-center account-title mb-3">Admin Status</h3>
      
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="is_admin" name="is_admin">
        <label class="form-check-label" for="is_admin">Tick to become admin</label>
      </div>
      <button type="submit" class="btn btn-primary acc-btn">Update Status</button>
    </form>
  </div>
  
  
{% endblock %}