/* Global Styles */


* {
  box-sizing: border-box;

  /* Smooth scroll enabled for back to top button */
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #55433c;
  background-color: #debb98;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

h1,
h2,
h3,
h4 {
  font-family: "Archivo Black", sans-serif;
}

a {
  color: #1f31ff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* ****FLASH MESSAGES**** */

.flash-message {
  background: rgba(250, 250, 250, 0.7);
  border-radius: 10px;
  top: 10px;
  width: 40%;
  padding: 10px 50px;
  position: absolute;
  left: 30%;
  font-weight: bold;
}

.error-flash {
  color: #dc3545;
}

.success-flash {
  color: #fba018;
}

/* ****BTNS**** */
.acc-btn {
  background-color: #00008B;
  border: none;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
  border: none;
}

.btn-social i {
  font-size: 2.5rem;
}


.btn-edit { 
  background-color: #fba018;
  border-color: #fba018;
}

.btn-edit:active,
.btn-edit:hover,
.btn-edit:focus,
.btn-adit:active:focus {
  background-color: #e19015;
  border-color: #e19015;
}

.btn-primary {
  background-color: #00008B;
  border:#00008B;
}
/* **** NAVBAR **** */
.navbar,
.bg-light,
.navbar-light {
  background: white !important;
}

.main-nav-links .nav-item {
  margin: 0 60px;
}

.customer-links .nav-item {
  margin-left: 30px;
}

.navbar-brand {
  margin-left: 30px;
}

.navbar-toggler {
  border: none;
}

.nav-item {
  margin: 0 30px !important;
}

/* **** MASTHEAD **** */

.masthead {
  position: relative;
  background: url("../images/sydney-harbour.jpg") no-repeat left center;
  background-size: cover;
  height: 380px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 100, 0.4);
}

.masthead-content {
  margin-top: 10%;
}

.masthead-content h1 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.search-bar {
  max-width: 400px;
  margin: auto;
}

.search-button {
  background-color: #FBAC35;
  border: none;
}

.search-button:hover,
.search-button:active,
.search-button:focus,
.search-button:active:focus {
  background-color: #00008B;
}


.input-group>.form-control:not(:first-child) {
  padding: 25px;
  border-radius: 25px;
}

.input-group>.input-group-append>.btn {
  border-radius: 0 25px 25px 0;
  padding-left: 20px;
  padding-right: 20px;
}

.city-times-container {
  margin-bottom: 10px;
}

.city-times {
  margin-bottom: 10px;
}

/* ***SEARCH RESULTS*/

.search-container {
  max-width: 90%;
  margin-top: 50px;
  background-color: rgba(250,250,250, 0.4);
  padding: 30px 50px;
  border-radius: 20px;
}

.search-results {
  margin-top: 35px;
}

/* ***ABOUT*** */

.about-container { 
  padding: 30px 40px;
  margin-top: 25px;
  background-color: rgba(250, 250, 250, 0.4);
  border-radius: 25px;
  width: 70%;
  box-shadow: 1px 1px 3px rgba(0, 0, 100, 0.3);
}

.about-signup {
  background: url('../images/about-signup.jpg') no-repeat center center;
}

.about-img-div {
  background-size: cover !important;
  border-radius: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 100, 0.4);
  height: auto;
  width: 100%;
}

.about-img {
  background: url('../images/about-image.jpg') no-repeat center center;
}

.how-to {
  padding-left: 20px;
}

.about-icon {
  margin-right: 10px;
}
/* ****SIGN UP**** */

/* **SignUp Form** */

.sign-up-container {
  background-color: rgba(250, 250, 250, 0.4);
  width: 50%;
  padding: 40px 0;
  margin-top: 25px;
  border-radius: 15px;
}

.small-text {
  color: #424242;
}

#signUpSmall {
  font-size: 1rem;
}

#signUpHelp {
  font-size: 0.8rem;
}

.account-title {
  margin-bottom: 20px;
}


/* ****HOME PAGE**** */
.home-container {
  margin-top: 50px;
}

.question-container {
  margin: auto;
}

.all-question-container {
  margin-top: 40px;

}

.home-titles {
  margin: 10px 20px;
}

.user-block {
  max-height: 100%;
  padding: 20px 30px 25px 30px !important;
}

.fa-comments {
  display: block;
    font-size: 3rem;
    margin-top: 5px;
}

.user-social {
  font-size: 1.8rem;
  margin-right: 12px;
}

.main-container {
  padding: 0 0 0 30px;
}
.user-container {
  margin-top: 15px;
}

.is-urgent {
  font-family: 'Archivo Black', arial, sans-serif;
  font-size: 0.9rem;
  color: #D10000;
}


.topic-badge {
  background: #fba018;
  color: #00008B;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 0.75rem;
  margin-right: 5px;
}

.topic-badge-container {
  margin-top: 5px;
}

.topic-tag-container {
  padding-left: 0;
  margin-left: 0;
  margin-bottom: 15px;
}

.question-topic-title {
  font-size: 0.9rem;
}

.question-topic-title p{
margin-bottom: 0.3rem;
}

.question-tags {
  margin-bottom: 5px;
  margin-left: 0;
}

/* **QUESTION BLOCK** */
.home-blocks {
  background: rgba(250, 250, 250, 0.4);
  border-radius: 12px;
  padding: 10px 20px;
}

.question-block {
  background: rgba(250, 250, 250, 0.8);
  border-radius: 10px;
  padding: 20px 25px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.question-title {
  font-family: 'Archivo Black', arial, sans-serif;
  text-transform: capitalize;
}

/* **Reply Form** */

.replyForm {
  margin-bottom: 10px;
}

/* **Reply Box** */

.reply-body {
  background-color: white;
  margin: 5px 0 15px 0;
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.reply-date {
  font-size: 0.7rem;
  margin-top: -10px;
  margin-bottom: 0;
  font-weight: bold;
}

.replies {
  margin-top: 15px;
}

.reply-header {
  text-transform: lowercase;
  font-size: 0.9rem;
}

/* ****FULL THREAD**** */
.full-thread-container {
  max-width: 90%;
  margin-top: 50px;
  background-color: rgba(250,250,250, 0.4);
  padding: 30px 50px;
  border-radius: 20px;
}

.full-thread-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
/* ****NEW QUESTION**** */
.custom-select[multiple] {
  height: auto;
  max-height: 60px;
  overflow-y: auto;
}

.custom-select {
  width: 100%;
}

.submit-question-form {
  width: 80%;
  margin: auto;
}


/* **SELECT2** */

.select2-selection__choice {
  background-color: #007bff !important;
  border: 1px solid #006fe6 !important;
  border-radius: 20px !important;
  padding: 0 10px !important;
  color: white !important;
}

.select2-selection__choice__remove {
  color: white !important;
  cursor: pointer;
  margin-right: 5px;
}

/* ****TOPICS**** */

.topic-container {
  width: 90%;
  margin: auto;
}

.add-topic-btn {
  font-size: 1.8rem;
  margin: 20px 0 25px 0;
  padding: 20px 25px;
  border-radius: 10px;
}

/* **Cards** */

.topic-card {
  padding: 10px 15px;
  margin: 10px 0;
  text-align: center;
  background: rgba(250,250,250,0.4);
  color: #00008B;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.topic-card-title {
  font-size: 1.2rem;
  font-weight: bold;
}
/* ****FOOTER**** */
.footer {
  background-color: #f5f5f5;
  padding: 30px 0;
  margin-top: 75px;
}


.copyright {
  height: 30px;
  margin: 0;
  color: #00008B;
}


.logo-text {
  color: #fba018;
}

/* Media Queries */

/* **** MIN WIDTH **** */
@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
  .submit-question-form {
    width: 80%;
    margin: auto;
  }
}


@media screen and (min-width: 992px) {
  .navbar-brand {
    margin-right: 40px;
  }

}

@media screen and (min-width: 1200px) {
  .submit-question-form {
    width: 70%;
    margin: auto;
  }
}

@media screen and (min-width: 1400px) {}

/* **** MAX WIDTH **** */

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {
  .main-nav-links .nav-item {
    margin: 0 40px;
  }
}

@media screen and (max-width: 992px) {

  .masthead-content h1 {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0rem;
  }

}

@media screen and (max-width: 768px) {
  .search-bar {
    max-width: 75%;
  }

  .sign-up-container {
    width: 80%;
  }
  .user-block {
    margin: 0 auto 25px auto;
  }

  .masthead {
    height: 400px;
  }
  .about-container { 
    width: 90%;
  }

  .full-thread-container {
    max-width: 90%;
    padding: 15px 20px;
    border-radius: 20px;
  }

  .all-question-container {
    margin: 25px auto;
  }
}

@media screen and (max-width: 576px) {
  .masthead {
    height: 450px;
  }

  

  .questions {
    padding: 0;
  }

  .home-titles {
    text-align: center;
    margin: 10px 0;
  }

  
}